Benner Engage/Service References/PagamentosService/Benner.Tecnologia.EnterpriseServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.EnterpriseServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.EnterpriseServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.Common.EnterpriseServiceLibrary" />
  <xs:complexType name="LoginRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.Common.EnterpriseServiceLibrary" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyHandle" type="xs:long" />
          <xs:element minOccurs="0" name="BranchHandle" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="LoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.Common.EnterpriseServiceLibrary" base="q2:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="SecurityServiceFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityServiceFault" nillable="true" type="tns:SecurityServiceFault" />
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
  <xs:complexType name="LogoutRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.Common.EnterpriseServiceLibrary" base="q3:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogoutRequest" nillable="true" type="tns:LogoutRequest" />
  <xs:complexType name="LogoutResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.Common.EnterpriseServiceLibrary" base="q4:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogoutResponse" nillable="true" type="tns:LogoutResponse" />
</xs:schema>