Benner Engage/Service References/PagamentosService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.EnterpriseServiceLibrary" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.EnterpriseServiceLibrary" minOccurs="0" name="request" nillable="true" type="q1:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.EnterpriseServiceLibrary" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.EnterpriseServiceLibrary" minOccurs="0" name="request" nillable="true" type="q3:LogoutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Benner.Tecnologia.EnterpriseServiceLibrary" minOccurs="0" name="LogoutResult" nillable="true" type="q4:LogoutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimeiroPeriodoComSaldoFerias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:PrimeiroPeriodoComSaldoFeriasRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimeiroPeriodoComSaldoFeriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="PrimeiroPeriodoComSaldoFeriasResult" nillable="true" type="q6:PrimeiroPeriodoComSaldoFeriasResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimularFerias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="request" nillable="true" type="q7:SimularFeriasRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimularFeriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="SimularFeriasResult" nillable="true" type="q8:SimularFeriasResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimularRescisao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="request" nillable="true" type="q9:SimularRescisaoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimularRescisaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="SimularRescisaoResult" nillable="true" type="q10:SimularRescisaoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterFuncionarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="request" nillable="true" type="q11:ObterFuncionariosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterFuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Benner.RH.Pagamentos.DataContracts" minOccurs="0" name="ObterFuncionariosResult" nillable="true" type="q12:ObterFuncionariosResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>